.register-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  margin: 0 auto;

  .margin {
    margin-bottom: 16px;
  }

  .button {
    width: 100%;
  }
}
