<div class="task-list-header">
  <h2>{{ title }}</h2>
</div>
<nz-collapse>
  <nz-collapse-panel
    *ngFor="let ticket of tickets"
    [nzHeader]="ticket.title"
    [nzExtra]="extraTpl"
    [ngClass]="{
      'todo': ticket.status === 'todo',
      'in-progress': ticket.status === 'inProgress',
      'done': ticket.status === 'finished'
    }"  >
    <p>
      {{ "tickets.description-label" | translate }} {{ ticket.description }}
    </p>
    <p>
      {{ "tickets.due-date-label" | translate }}
      {{ ticket.dueDate | date : "dd/MM/yyyy" }}
    </p>
    <p>
      {{ "tickets.due-time-left" | translate }}
      {{ ticket.dueDate | daysRemaining }}
    </p>
    <p *ngFor="let subTask of ticket.subtasks; let i = index">
      {{ "tickets.sub-task-label" | translate : { index: i + 1 } }}
      {{ subTask.title }}
    </p>
    <ng-template #extraTpl>
      <span
        nz-icon
        nzType="setting"
        (click)="openEditModal(ticket); $event.stopPropagation()"
      ></span>
    </ng-template>
  </nz-collapse-panel>
</nz-collapse>
