<form [formGroup]="ticketForm" (ngSubmit)="submitForm()" class="ticket-form">
  <nz-form-item class="form-item">
    <nz-form-control [nzErrorTip]="'create-ticket.title-required' | translate">
      <nz-input-group nzPrefixIcon="edit">
        <input
          nz-input
          formControlName="title"
          [placeholder]="'create-ticket.title-placeholder' | translate"
          class="input-field"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="form-item">
    <nz-form-control
      [nzErrorTip]="'create-ticket.description-required' | translate"
    >
      <nz-input-group nzPrefixIcon="file-text">
        <textarea
          nz-input
          formControlName="description"
          [placeholder]="'create-ticket.description-placeholder' | translate"
          rows="3"
          class="textarea-field"
        ></textarea>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="form-item">
    <nz-form-control
      [nzErrorTip]="'create-ticket.due-date-required' | translate"
    >
      <nz-date-picker
        formControlName="dueDate"
        [nzPlaceHolder]="'create-ticket.due-date-placeholder' | translate"
        class="date-field"
      ></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="form-item">
    <nz-form-control [nzErrorTip]="'create-ticket.status-required' | translate">
      <nz-select
        formControlName="status"
        [nzPlaceHolder]="'create-ticket.status-placeholder' | translate"
        class="select-field"
      >
        <nz-option
          nzValue="todo"
          [nzLabel]="'create-ticket.status-options.todo' | translate"
        ></nz-option>
        <nz-option
          nzValue="inProgress"
          [nzLabel]="'create-ticket.status-options.in-progress' | translate"
        ></nz-option>
        <nz-option
          nzValue="finished"
          [nzLabel]="'create-ticket.status-options.finished' | translate"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control
      [nzErrorTip]="'create-ticket.category-required' | translate"
    >
      <nz-select
        formControlName="category"
        [nzPlaceHolder]="'create-ticket.category-placeholder' | translate"
      >
        <nz-option
          nzValue="1"
          [nzLabel]="'create-ticket.category-options.work' | translate"
        ></nz-option>
        <nz-option
          nzValue="2"
          [nzLabel]="'create-ticket.category-options.personal' | translate"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <div formArrayName="subtasks">
    <div
      *ngFor="let subtask of subtasks.controls; let i = index"
      [formGroupName]="i"
      class="subtask-item"
    >
      <nz-form-item class="form-item">
        <div class="flex">
          <nz-form-control
            [nzErrorTip]="'create-ticket.subtask-title-required' | translate"
          >
            <nz-input-group nzPrefixIcon="edit">
              <input
                nz-input
                formControlName="title"
                [placeholder]="
                  'create-ticket.subtask-title-placeholder' | translate
                "
                class="input-field"
              />
            </nz-input-group>
          </nz-form-control>
          <button
            nz-button
            nzType="default"
            class="danger-button"
            (click)="removeSubtask(i)"
          >
            {{ "create-ticket.remove-subtask" | translate }}
          </button>
        </div>
      </nz-form-item>
    </div>
  </div>
  <div class="actions">
    <button nz-button nzType="dashed" (click)="addSubtask()" class="add-button">
      {{ "create-ticket.add-subtask" | translate }}
    </button>
    <button
      nz-button
      nzType="primary"
      [disabled]="ticketForm.invalid"
      class="submit-button"
    >
      {{ "create-ticket.create-ticket" | translate }}
    </button>
  </div>
</form>
