<form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Entrez votre email!">
      <nz-input-group nzPrefixIcon="mail">
        <input
          type="text"
          nz-input
          formControlName="email"
          placeholder="{{ 'auth.placeholder.email' | translate }}"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Entrez votre mot de passe!">
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          nz-input
          formControlName="password"
          placeholder="{{ 'auth.placeholder.password' | translate }}"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  
  <button
    nz-button
    class="button margin"
    [nzType]="'primary'"
  >
    {{ "auth.login" | translate }}
  </button>
  <p>
    {{ "auth.not-registered" | translate
    }}<a routerLink="/register">{{ "auth.register" | translate }}</a>
  </p>
</form>
