@primary-color: #f6bfff;

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

::ng-deep .ant-layout-sider-trigger {
  background: @primary-color;
}

.logo {
  height: 32px;
  background: @primary-color;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  > span {
    cursor: pointer;
  }

  &:hover {
    > span {
      color: white;
    }
  }
}

nz-sider {
  background: #ffffff;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

.main-content {
  padding: 16px;
}

.inner-content {
  margin-top: 16px;
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}

.language-switcher {
  position: absolute;
  right: 16px;
  top: 16px;
  .svg-container {
    display: flex;
    align-items: center;
    svg {
      margin: 0 8px;
    }
  }
}

// .logo:hover {
//   > span {
//     color: white;
//   }
// }
