<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="light" nzMode="inline">
      <li
        nz-submenu
        nzTitle="{{ 'sider.project-menu' | translate }}"
        nzIcon="ordered-list"
      >
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="field-time"></span>
        <span>{{ "sider.today-task" | translate }}</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="field-time"></span>
        <span>{{ "sider.weekly-task" | translate }}</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="field-time"></span>
        <span>{{ "sider.monthly-task" | translate }}</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="field-time"></span>
        <span>{{ "sider.all-task" | translate }}</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
